{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="right__content">
    <div class="content__index">
        <a href="/catalog.html" class="col col__1" data-shadow="active">
            <i class="col__item first__item"></i>
            <div class="col__content">
                <div class="content__desc">
                    Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                </div>
                <div class="content__title">
                    Горношахтное оборудование
                </div>
                <div class="content__btn" data-hover="Перейти в каталог">
                    <span>Перейти в каталог</span>
                </div>
            </div>
        </a>
        <a href="/catalog.html"  class="col col__2">
            <i class="col__item second__item"></i>
            <div class="col__content">
                <div class="content__desc">
                    Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                </div>
                <div class="content__title">
                    Противопожарное оборудование
                </div>
                <div class="content__btn" data-hover="Перейти в каталог">
                    <span>Перейти в каталог</span>
                </div>
            </div>
        </a>
        <a href="/catalog.html" class="col col__3">
            <i class="col__item third__item"></i>
            <div class="col__content">
                <div class="content__desc">
                    Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                </div>
                <div class="content__title">
                    Запасные части и буровой инструмент
                </div>
                <div class="content__btn" data-hover="Перейти в каталог">
                    <span>Перейти в каталог</span>
                </div>
            </div>
        </a>
    </div>
</div>

{% endblock %}