{% extends "base.html" %}
{% load static %}

{% block content %}

<!--right content. catalog -->
<div class="right__content">
    <div class="content__catalog">
        <h1 class="content__title">
            Новости компании
        </h1>
        <div class="content__breadcrumbs">
            <ul>
                <li><a class="point" href="/">Главная</a></li>
                <li><span class="point" >Новости компании</span></li>
                <div class="clear"></div>
            </ul>
        </div>
        <div class="product__grid">
            {% for item in items %}
            <div class="grid__item">
                <a href="{{ item.get_absolute_url }}">
                    <div class="item__image">
                        <img class="responsive__img" src="{{ item.image.url }}" alt="{{ item.name }}">
                    </div>
                    <div class="item__data">
                        <div class="data__title">{{ item.name }}</div>
                        <div class="data__desc">
                            {{ item.description|safe|striptags|truncatechars:100 }}
                        </div>
                        <div class="data__footer">
                            <div class="data__btn">Подробнее</div>
                            <div class="data__date">{{ item.created }}</div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="show__more">
            <div id="showMore" class="btn" data-hover="Показать еще">Показать еще</div>
        </div>
    </div>
</div>

{% endblock %}